<!DOCTYPE html>

{{!-- 
// -----------------------------------------------------------------------------
// -- Generic NodeJS Application: MVC Design
// -- File: main.handlebars
// -- Description:
// -- Author:
// -- Date:
// -- Version: 
// -- Credit: Based on Web Development with Node and Express: 
// --         Leveraging the JavaScript Stack by Ethan Brown
// -----------------------------------------------------------------------------
 --}}

  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> </title>        
      <link href="/css/master.css" rel="stylesheet"> 
  </head>

  <body>
    <div id="topcontainer">
        <p 
          class="title-extra-large" style="display:inline" > &nbsp;Generic App </p> 
        </p> 
        
        {{!-- 
        <img id="generic-image1" src="/img/twinrocks.jpeg" alt="twinrocks"/>    
        --}}

    </div>

    <div class="line1">
        <hr>
    </div>
        
    {{!-- -------------- links --------------- --}}
<!-- Nav tabs -->
    <div class="tabs-wrapper navbar-fixed-top"> 
      <ul class="nav classic-tabs tabs-cyan" role="tablist">
          <li class="nav-item">
              <a class="nav-link waves-light" data-toggle="tab" href="/" role="tab">Home</a>
          </li>
           <li class="nav-item">
              <a class="nav-link waves-light" data-toggle="tab" href="/page1" role="tab">Page1</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" data-toggle="tab" href="/page2" role="tab">Page2</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" data-toggle="tab" href="/page3" role="tab">Page3</a>
          </li>
      </ul>
    </div>

    <div class="line1">
        <hr>
    </div>

    {{!-- -------------------------------------------------------------------- --}}
    {{{body}}}
    {{!-- -------------------------------------------------------------------- --}}
	     
    <div class="line1">
        <hr>
    </div>

	  {{!-- Footer --}} 
		<footer>
			<BR>
        <BR>
        <div id="genericbottomtext">
          <p class="titlelittle" style="display:inline" > &nbsp;
              &copy; Generic App v0.0 <script> document.write(new Date().toLocaleDateString()); </script>
          </p>   
        </div>    
	  </footer>        
  </body>
</html>
