{{!--
// -----------------------------------------------------------------------------
// -- Generic NodeJS Application: MVC Design
// -- File: home : Index.handlebars
// -- Description:
// -- Author:
// -- Date:
// -- Version: 
// -- Credit: Based on Web Development with Node and Express: 
// --         Leveraging the JavaScript Stack by Ethan Brown
// -----------------------------------------------------------------------------
--}}

<!DOCTYPE html>
  <head>
    <title>home</title>
  </head>

  <body>   
        
    {{!-- -------------------------------------------------------------------- --}}

    <div id="home-message">
        <p>
          Lorem ipsum dolor sit amet consectetuer adipiscing elit. Senectus fusce dui enim hendrerit hymenaeos morbi. Vitae pharetra. Luctus ut nullam enim dis dis quam. Commodo in per et fringilla ridiculus lorem! Lorem sodales massa sed libero adipiscing sodales duis id cursus curabitur vestibulum. Euismod elit nascetur. Aliquam lacus in lorem ve est ultricies dictum ridiculus felis a. Donec ipsum eu proin aptent. Tempus vivamus praesent. Imperdiet augue sodales elementum pharetra dolor sit purus sociis mattis platea adipiscing nec vehicula. Eros libero a nisi penatibus dictum.
        </p>
    </div>

  </body>
</html>

