{{!--
// -----------------------------------------------------------------------------
// -- Generic NodeJS Application: MVC Design
// -- File: help : index.handlebars
// -- Description:
// -- Author:
// -- Date:
// -- Version: 
// -----------------------------------------------------------------------------

--}}

<!DOCTYPE html>
  <head>
    <title>help</title>
  </head>

  <body>   
        
    {{!-- -------------------------------------------------------------------- --}}

    <br>

    <div id="helpimage">
      <img class="graphImage" src="/img/help-md_50.png" alt="Image failed to render !!!">
      <div class="heading27" >Generic Project Help</div>
    </div>

    <br>
<br>

<div id="generic-image111">
      <img class="graphImage" src="/img/SiteUnderConstruction.jpg" alt="Image failed to render !!!">
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <br>
    <hr>

    <p class="greetingmessage2" >
       See documents listed below for information about the Gerneric project. 
    </p>

    <hr>

    <div class="greetingmessage2">
        <p>
          generic Project : 
          <a href="/docs/HowToThink.pdf" target="_blank" >User Guide</a>
        </p>
    </div>
    <div class="greetingmessage2">
        <p>
          generic Project : 
          <a href="/docs/HowToThink.pdf" target="_blank" >Installation Guide</a>
        </p>
    </div>
    <div class="greetingmessage2">
        <p>
          generic Project : 
          <a href="/docs/HowToThink.pdf" target="_blank" >Project Status</a>
        </p>
    </div>
    
    <div class="greetingmessage2">
        <p>
          generic Project : 
          <a href="/docs/HowToThink.pdf" target="_blank" >Requirements</a>
        </p>
    </div>
   

  </body>
</html>

