{{!-- 
// -----------------------------------------------------------------------------
// -- Generic NodeJS Application: MVC Design
// -- File: page1 : Page1Add.handlebars
// -- Description:
// -- Author:
// -- Date:
// -- Version: 
// -- Credit: Based on Web Development with Node and Express: 
// --         Leveraging the JavaScript Stack by Ethan Brown
// -----------------------------------------------------------------------------
 --}}

<div class="page1Div">
  <form method="post" action="/page1/add">
    <label>Var1</label> <input name="var1" type="text" />
    <label>Var2</label> <input name="var2" type="text" />
    <label>Var3</label> <input name="var3" type="text" />
    <label>Enabled</label> <input name="enabled" type="checkbox" value="enabled" />
    <input type="submit" value="Submit" />
  </form>
</div>